/* ---------创建地图样式---------- */
.CreateMap_Main{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 100;
}

/* 左侧菜单 */
.CreateMap_LeftMenu{
    width: 15vw;
    overflow: auto;
}
.CreateMap_LeftMenu::-webkit-scrollbar {
    width: 0px;
    border: 1px solid #fff;
  }
  .CreateMap_LeftMenu::-webkit-scrollbar-track {
    border-radius: 0;
    background: #eeeeee;
  }
  .CreateMap_LeftMenu::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #b0b0b0;
  }

.CreateMap_LeftMenu_BaseMap{
    position: relative;
    top: 0;
    right: 2vw;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* width: 100%;
    height: 100%; */
    width: 50vw;
    height: 50vh;
    /* width: inherit;
    height: inherit; */
    color: white;
    z-index: 100;
}

.CreateMap_LeftMenu_PreView{
    display: flex;
    align-items: center;
    padding: 1vh 1vw;
}
.CreateMap_LeftMenu_PreViewText{
    margin-right: 1vw;
}
.CreateMap_LeftMenu_BaseMap_PreView{
    position: relative;
    width: 6.5vw;
    height: 10vh;
}
.CreateMap_LeftMenu_BaseMapDiv{
    position: relative;
    width: max-content;
    height: max-content;
}
.CreateMap_LeftMenu_BaseMap_Img{

}
.CreateMap_LeftMenu_BaseMap_Cursor, .CreateMap_LeftMenu_BaseMap_CursorClick{
    position: absolute;
    border: 0.5vw solid;
    background-color: rgba(255,255,255,0.4);
}
.CreateMap_LeftMenu_BaseMap_CursorClick{
    border: 0.5vw solid #3278b1;
    background: rgba(255,255,255,0.2);
}

.CreateMap_LeftMenu_ComplexMap_Cursor, .CreateMap_LeftMenu_ComplexMap_CursorClick{
    position: absolute;
    width: 6.5vw;
    height: 10vh;
    color: white;
    border: 0.5vw solid;
    background-color: rgba(255,255,255,0.4);
}
.CreateMap_LeftMenu_ComplexMap_CursorClick{
    border: 0.5vw solid white;
    background: rgba(255,255,255,0.2);
}

.CreateMap_LeftMenu_TreeDir{

}

.CreateMap_LeftMenu_fileNameInput{

}

.CreateMap_LeftMenu_Buttons{

}
.CreateMap_LeftMenu_Button{
    cursor: pointer;
    user-select: none;
}
.CreateMap_LeftMenu_Button:hover{
    background: rgb(28, 216, 200);
}

.CreateMap_LeftMenu_SaveModel{

}
/**/
/* 中间地图 */
.CreateMap_MiddleContent{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 35vw);
    height: 100%;
    background: black;
    user-select: none;
    overflow: auto;
}
.CreateMap_MiddleContent_Main, .CreateMap_MiddleContent_Main_big{
    /* position: absolute;
    width: 30vw;
    height: 30vh; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: black;
    overflow: hidden;
}
.CreateMap_MiddleContent_Main_big{
    position: absolute;
    left: 0;
    top: 0;
    width: max-content;
    height: max-content;
    align-items: flex-start;
    justify-content: flex-start;
}

.MapColumn{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CreateMap_baseMap{
    user-select: none;
}
.CreateMap_baseMap_base_complex{
    position: relative;
    display: inline-flex;
    width: 6.5vw;
    height: 10vh;
}
/* .CreateMap_baseMap_base{

} */
/**/
/* 右侧菜单 */
.CreateMap_RightMenu{
    width: 20vw;
    /* overflow-y: auto; */
    overflow: hidden;
}

.CreateMap_RightMenu_Tabs{
    display: flex;
}
.CreateMap_RightMenu_Tab, .CreateMap_RightMenu_Tab_Click{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4vw;
    height: 3vh;
    background: white;
    cursor: pointer;
    user-select: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}   
.CreateMap_RightMenu_Tab:hover, .CreateMap_RightMenu_Tab_Click{
    background: #0d7ce9;
    color: white;
}

.CreateMap_RightMenu_Content{
    width: 100%;
    height: calc(100% - 8vh);
    overflow-y: auto;
    overflow-x: hidden;
}
.CreateMap_RightMenu_Content::-webkit-scrollbar {
    width: 0px;
    border: 1px solid #fff;
}
.CreateMap_RightMenu_Content::-webkit-scrollbar-track {
    border-radius: 0;
    background: #eeeeee;
}
.CreateMap_RightMenu_Content::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #b0b0b0;
}

.CreateMap_RightMenu_Content_Main{
    position: relative;
    width: 100%;
    height: max-content;
}

.CreateMap_RightMenu_Content_MapInfoColumn{
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 1vw;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 40vh;
    background: white;
    overflow: auto;
    z-index: 200;
}
.CreateMap_RightMenu_Content_MapInfoColumn::-webkit-scrollbar {
    width: 0px;
    border: 1px solid #fff;
}
.CreateMap_RightMenu_Content_MapInfoColumn::-webkit-scrollbar-track {
    border-radius: 0;
    background: #eeeeee;
}
.CreateMap_RightMenu_Content_MapInfoColumn::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #b0b0b0;
}

.CreateMap_RightMenu_Content_MapInfo{

}

.CreateMap_RightMenu_Pagination{
    height: 5vh;
}
/**/
/* ------------------- */

/* model中的样式 */
.CreateMao_AddNewMap_Column{
    display: flex;
}
/* ------------------- */