/* ---------创建基础地图样式---------- */
.CreateMap_baseMap_moster{
    display: inline-flex;
    /* align-items: center; */
    justify-content: center;
    width: 6.5vw;
    height: 10vh;
    color: white;
    z-index: 100;
}
/* ------------------- */
